.landscape-left-row{
    display: grid;
    grid-template-columns: 550px 265px 265px;
    gap: 10px;
    margin-bottom: 10px;
}

.landscape-middle-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
}

.landscape-right-row {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 10px;
    margin-bottom: 10px;
}

.giphy-tile {
    height: 200px;
    overflow: hidden;
    position: relative;
}

.giphy-tile img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px 4px 0px 0px;
}

.text-tile {
    position: absolute;
    left: 10px;
    bottom: 5px;
}

.line-top-purple {
    background-color: #9933ff;
    height: 6px;
}

.line-middle-purple {
    background-color: #6d24b7;
    height: 6px;
    margin-left: 10px;
    margin-right: 10px;
}

.line-bottom-purple {
    background-color: #521d88;
    height: 6px;
    margin-left: 20px;
    margin-right: 20px;
}

.line-top-sunshine {
    background-color: #d4ca4d;
    height: 6px;
  }
  .line-middle-sunshine {
    background-color: #b4ac44;
    height: 6px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .line-bottom-sunshine {
    background-color: #938c37;
    height: 6px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .line-top-turqoise {
    background-color: #00ccff;
    height: 6px;
  }
  
  .line-middle-turqoise {
    background-color: #18a6ca;
    height: 6px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .line-bottom-turqoise {
    background-color: #127189;
    height: 6px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .line-top-bluepurple {
    background-color: #6157ff;
    height: 6px;
  }
  
  .line-middle-bluepurple {
    background-color: #4339c6;
    height: 6px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .line-bottom-bluepurple {
    background-color: #2f2888; 
    height: 6px;
    margin-left: 20px;
    margin-right: 20px;
  }